/* common-code start */
:root{
    --primary-color: #333333;
    --secondary-color: white;
    --band-color: #30C39E;
    --fs-1: 16px;
    --fs-2: 18px;
    --fs-3: 20px;
    --fs-4: 22px;
    --fs-5: 24px;
    --fs-6: 26px;
    --hs-1: 65px;
    --hs-2: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@font-face{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url(../font/Segoe\ UI.ttf);

}
body{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0px auto;
}
h1,h2,h2,h4,h5,h6,p,ul,li{
    margin: 0px;
    padding: 0px;
    columns: #000;
}
a{ 
    text-decoration: none;
}
a,span,small{
    display: inline-block;
    color:#000;
}
li{
    list-style: none;
}
.width-100{ width: 100%;}
.width-75{ width: 75%;}
.width-50{ width: 50%;}
.width-25{ width: 25%;}
.d-flex{
    display: flex;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
.my-30{
    margin:30px 0px;
}
.py-160{
    padding: 160px 0px;
}
/* common-code end */
/* header-section start */
 .header-section{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
 }
/* header-section end*/
nav{
padding: 30px 0px;
}
nav a h1{
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 600;
}
nav a h1 .fa-rebel{
color: var(--band-color);
}
nav .navbar .nav-item .navlink{
    color: var(--secondary-color);
    padding: 0px 20px;
    margin: 0px 3px;
    transition: .5s all;
}
nav .navbar .nav-item .navlink:hover,
nav .navbar .nav-item .navlink.active{
    color: var(--band-color)
}
/* banner area */
.banner-area h3{
    color: var(--secondary-color);
    font-size: var(--fs-2);
    font-weight: 600;
}
.banner-area h2{
    color: var(--band-color);
    font-size: var(--hs-1);
    font-weight: 800;
}
.banner-area p{
    color: var(--secondary-color);
    font-size: var(--fs-1);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.8;
    max-width: 750px;
    text-align: justify;
}
.banner-area a{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: var(--fs-1);
    font-weight: 600;
    padding: 10px 30px;
    transition: .5s all;
}
.banner-area a:hover{
    background-color: var(--band-color);
    border: 1px solid var(--band-color);
}
